.dockerignore
Dockerfile
Dockerfile.web
docker-compose.yml
node_modules
.next
.git
.vscode
server/venv
server/venv_new
server/__pycache__
*.pyc
*.pyo
*.pyd
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
